{% load i18n %}
<div class="row">
    <div class="col-md-12 mt-4">
        <div class="card">
            <div class="card-header bg-primary text-white">
                {% trans 'Panel de Control' %}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-products' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>{% translate "Productos" %} <i class="ri-store-2-line"></i></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-product_categories' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>{% translate "Categoria de Productos" %} <i class="ri-train-fill"></i></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-meals' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>{% translate "Platillos" %} <i class="ri-money-dollar-box-line"></i></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-meal_categories' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>{% translate "Categorias de Platillos" %} <i class="ri-train-fill"></i></h4>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>