{% extends 'partials/base.html' %}
{% block title %}{{blocktitle}}{% endblock %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}

{% block content %}
{% include topside %}
<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>{{title_form}}</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-8">
        {% if items %}
        <div class="table-responsive">
            <table class="table bg-white text-center">
                <thead class="bg-primary text-white">
                    <tr>
                        {% for column in columns %}
                        <th scope="col">{{ column }}</th>
                        {% endfor %}
                        <th scope="col">{% translate "Acción" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        {% for atr in atributes %}
                        <td>{{ item|get_attr:atr }}</td>
                        {% endfor %}
                        <td>
                            <a class="btn btn-primary btn-sm mr-2 mb-1" href="{% url url_edit item.id %}">
                                {% translate "Editar" %}
                            </a>
                            <a class="btn btn-danger btn-sm mr-2 b mb-1" href="" data-toggle="modal"
                                data-target="#exampleModal{{item.id}}">
                                {% translate "Eliminar" %}
                            </a>
                        </td>
                        {% include "dashboard/item_delete_modal.html" %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="card shadow p-3 mb-5 bg-white rounded text-center">
            <p>{% translate "No se registraron elementos" %}.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}