{% extends 'partials/base.html' %}
{% load i18n %}
{% block title %}{% translate "Journey Prices" %}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topside_transports.html' %}
<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>{% translate "Agregar Nueva Precio por Recorrido" %}</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-8">
        {% if prices %}
        <div class="table-responsive">
            <table class="table bg-white text-center">
                <thead class="bg-primary text-white">
                    <tr>
                        <th scope="col">{% translate "Tipo de Recorrido" %}</th>
                        <th scope="col">{% translate "Categoria" %}</th>
                        <th scope="col">{% translate "Precio" %}</th>
                        <th scope="col">{% translate "Acción" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for price in prices %}
                    <tr>
                        <td>{{ price.journey }}</td>
                        <td>{{ price.getCategory }}</td>
                        <td>${{ price.price }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm mr-2 mb-1"
                                href="{% url 'dashboard-journey_price-edit' price.id %}">
                                {% translate "Editar" %}
                            </a>
                            <a class="btn btn-danger btn-sm mr-2 b mb-1" href="" data-toggle="modal"
                                data-target="#exampleModal{{price.id}}">
                                {% translate "Eliminar" %}
                            </a>
                        </td>
                        {% include "dashboard/journey_prices_delete_modal.html" %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="card shadow p-3 mb-5 bg-white rounded text-center">
            <p>{% translate "No se registraron categorias de platillos" %}.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}