{% extends 'partials/base.html' %}
{% load i18n %}
{% block title %}{% translate "Pagos" %}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topside_finances.html' %}
<div class="row my-4">
    <div class="col-md-12">
        {% if data %}
        <div class="table-responsive">
            <table class="table bg-white text-center">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>{% translate "ID" %}</th>
                        <th>{% translate "ID. Venta" %}</th>
                        <th>{% translate "Nro. Recibo" %}</th>
                        <th>{% translate "Tipo" %}</th>
                        <th>{% translate "Creación" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item.payment.id }}</td>
                        <td>
                            {% if item.type == "T" %}
                            <a href="{% url 'dashboard-sale_detail' item.sale_id %}">{{ item.sale_id }}</a>
                            {% else %}
                            <a href="{% url 'dashboard-receipt_detail' item.sale_id %}">{{ item.sale_id }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.payment.voucher_no %}
                            {{ item.payment.voucher_no }}
                            {% else %}
                            {% translate "Sin Registrar" %}
                            {% endif %}
                        </td>
                        <td>{{ item.payment.getType }}</td>
                        <td>{{ item.payment.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="card shadow p-3 mb-5 bg-white rounded text-center">
            <p>{% translate "No se ha realizado ninguna compra de boletos" %}.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}