{% load i18n %}
<section class="section_ps footer">
    <div class="footer-box">
        <h3>{% translate "Información" %}</h3>
        <a href="#">Ameghino N° 660</a>
        <a href="#">{% translate "Estación Central de Trenes" %}</a>
        <a href="#">{% translate "Ciudad de Salta - Argentina" %}</a>
        <a href="#">{% translate "Código Postal: A4400CRL" %}</a>
    </div>
    <div class="footer-box">
        <h3>{% translate "Sobre nosotros" %}</h3>
        <a href="#">{% translate "Nuestra Historia" %}</a>
        <a href="#">{% translate "Beneficios y Promociones" %}</a>
        <a href="#">{% translate "Equipó de Trabajo" %}</a>
    </div>
    <div class="footer-box">
        <h3>{% translate "Soporte" %}</h3>
        <a href="#">FAQs</a>
        <a href="#">{% translate "Contáctenos" %}</a>
    </div>
    <div class="footer-box">
        <h3>{% translate "Redes Sociales" %}</h3>
        <div class="social">
            <a href="https://www.instagram.com/trenalasnubesoficial/"><i class="ri-instagram-fill"></i></i></a>
            <a href="https://twitter.com/trenalasnubesok"><i class="ri-twitter-x-line"></i></a>
            <a href="https://www.facebook.com/trenalasnubesOficial/"><i class="ri-facebook-fill"></i></a>
        </div>
    </div>
</section>