{% load static %}
{% load i18n %}

<header class="header_ps">
    <a href="{% url 'home' %}" class="logo">
        <img src="{% static 'img/TrenALasNubesLogo.png' %}" alt="Logo">
    </a>
    <ul class="navbar_ps">
        <li><a href="{% url 'home' %}">{% translate "Inicio" %}</a></li>
        <li><a href="#">{% translate "Recorrido" %}</a></li>
        <li><a href="#">{% translate "Beneficios" %}</a></li>
        <li><a href="#">{% translate "Contáctenos" %}</a></li>
    </ul>

    <div class="h-right">
        {% if user.is_authenticated %}
        <li>
            <a class="btn btn-outline-light me-2" href="{% url 'profile_customer' %}">
                <span id="bt-purchases">{% translate "Perfil" %}</span> <i class="ri-profile-line"></i>

            </a>
        </li>
        <li>
            <a class="btn btn-outline-light me-2" href="{% url 'customer_tickets' %}">
                <span id="bt-purchases">{% translate "Ver Compras" %}</span> <i class="ri-shopping-cart-2-line"></i>
            </a>
        </li>
        <li>
            <form method="post" action="{% url 'user-logout' %}">
                {% csrf_token %}
                <button class="btn btn-outline-light me-2" type="submit">
                    <span id="bt-logout">{% translate "Cerrar Sesión" %}</span> <i class="ri-logout-box-r-line"></i>
                </button>
            </form>
        </li>
        {% else %}
        <a class="btn btn-outline-light me-2" href="{% url 'user-login' %}">{% translate "Iniciar Sesión" %}</a>
        <a class="btn btn-outline-light btn-success" href="{% url 'user-register' %}">{% translate "Registrarse" %}</a>
        {% endif %}
    </div>
</header>