{% load i18n %}
{% load crispy_forms_tags %}
{% include 'public/base.html' %}

{% block content %}
<section class="section_ps home_register_ps form-register font-black">
    <div class="container mt-5 center-text card">
        <h1 class="m-3">{% translate "Reservaciones de Boletos" %}</h1>
        <form id="reservaForm">
            {% csrf_token %}
            {% if user.is_authenticated %}
            <input type="hidden" id="id-user" value="{{ user.id }}">
            {% endif %}
            <div class="mb-3">
                <label for="email" class="form-label">{% translate "Correo Electrónico" %}</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div id="pasajeros">
                <!-- Aquí se agregarán dinámicamente los formularios de pasajeros -->
            </div>
            <button type="button" class="btn btn-primary mb-3" id="agregarPasajero">
                {% translate "Agregar Pasajero"%}
            </button>
            <button type="submit" class="btn btn-success mb-3">{% translate "Reservar Boletos" %}</button>
        </form>
    </div>
</section>
<!-- Modal para crear un nuevo pasajero -->
<div id="passenger-modal" class="modal fade font-black" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% translate "Información del Pasajero" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="new-passenger-form-container"></div>
            </div>
        </div>
    </div>
</div>
{% include 'public/footer.html' %}

<script>
    $(document).ready(function () {
        let contadorPasajeros = 0;

        function cargarTiposRecorrido(select) {
            $.get('{% url "api_types_journey" %}', function (data) {
                select.empty();
                data.forEach(function (tipo) {
                    select.append($('<option></option>').val(tipo[0]).text(tipo[1]));
                });
            });
        }

        function cargarHorarios(fecha, tipoRecorrido, select) {
            $.get('{% url "api_journey_per_date" %}', {
                fecha: fecha,
                tipo_recorrido: tipoRecorrido
            }, function (data) {
                select.empty();
                if (data.length > 0) {
                    select.append($('<option></option>').val("").text("{% translate 'Seleccione un Horario' %}"));
                    data.forEach(function (horario) {
                        select.append($('<option></option>').val(horario.id).text(horario.departure_time + ' - ' + horario.arrival_time));
                    });
                } else {
                    select.append($('<option></option>').val("").text("{% translate 'Sin recorridos disponibles' %}"));
                }
            });
        }
        function cargarCategorias(tipoRecorrido, select) {
            $.get('{% url "api_price_journey" %}', {
                tipo_recorrido: tipoRecorrido
            }, function (data) {
                select.empty();
                if (data.length > 0) {
                    select.append($('<option></option>').val("").text("{% translate 'Seleccione una Categoria' %}"));
                    data.forEach(function (categoria) {
                        select.append($('<option></option>').val(categoria.id).text(categoria.category + ' - $' + categoria.price));
                    });
                } else {
                    select.append($('<option></option>').val("").text("{% translate 'Sin recorridos disponibles' %}"));
                }
                select.prop('disabled', false);
            });
        }

        function cargarAsientos(categoria, horario, select) {
            $.get('{% url "api_available_seats_per_schedule" %}', {
                categoria: categoria,
                horario: horario
            }, function (data) {
                select.empty();
                select.append($('<option></option>').val("").text("{% translate 'Seleccione un Asiento' %}"));
                data.forEach(function (asiento) {
                    select.append($('<option></option>').val(asiento.id).text(asiento.numero));
                });
                select.prop('disabled', false);
            });
        }

        function agregarPasajero() {
            contadorPasajeros++;
            let pasajeroHtml = `
                    <div class="pasajero-form mb-4" data-pasajero="${contadorPasajeros}">
                        <h3>{% translate "Pasajero" %} ${contadorPasajeros}</h3>
                        <div class="mb-3">
                            <label class="form-label">{% translate "Tipo de Recorrido" %}</label>
                            <select class="form-select tipo-recorrido" required></select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{% translate "Fecha" %}</label>
                            <input type="date" class="form-control fecha" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{% translate "Horario" %}</label>
                            <select class="form-select horario" required disabled></select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{% translate "Categoria de Asiento" %}</label>
                            <select class="form-select categoria" required disabled></select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{% translate "Asiento" %}</label>
                            <select class="form-select asiento" required disabled></select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{% translate "DNI o Pasaporte" %}</label>
                            <input type="text" class="form-control dni_o_pasaporte" required>
                        </div>
                        <button type="button" class="btn btn-danger eliminar-pasajero">{% translate "Eliminar Pasajero" %}</button>
                    </div>
                `;
            $('#pasajeros').append(pasajeroHtml);

            let nuevoSelect = $(`[data-pasajero="${contadorPasajeros}"] .tipo-recorrido`);
            cargarTiposRecorrido(nuevoSelect);
        }

        $('#agregarPasajero').click(agregarPasajero);

        $(document).on('change', '.fecha, .tipo-recorrido', function () {
            let pasajeroForm = $(this).closest('.pasajero-form');
            let fecha = pasajeroForm.find('.fecha').val();
            let tipoRecorrido = pasajeroForm.find('.tipo-recorrido').val();
            let horarioSelect = pasajeroForm.find('.horario');
            let asientoSelect = pasajeroForm.find('.asiento');
            if (fecha && tipoRecorrido) {
                horarioSelect.prop('disabled', false);
                cargarHorarios(fecha, tipoRecorrido, horarioSelect);
            } else {
                horarioSelect.prop('disabled', true);
                horarioSelect.empty();
            }

            // Resetear y deshabilitar la selección de asientos
            asientoSelect.prop('disabled', true);
            asientoSelect.empty();
        });

        $(document).on('change', '.horario', function () {
            let pasajeroForm = $(this).closest('.pasajero-form');
            let fecha = pasajeroForm.find('.fecha').val();
            let tipoRecorrido = pasajeroForm.find('.tipo-recorrido').val();
            let horario = $(this).val();
            let categoriaSelect = pasajeroForm.find('.categoria');
            let asientoSelect = pasajeroForm.find('.asiento');
            if (fecha && horario) {
                cargarCategorias(tipoRecorrido, categoriaSelect);
                // cargarAsientos(fecha, horario, asientoSelect);
            } else {
                categoriaSelect.prop('disabled', true);
                categoriaSelect.empty();
                asientoSelect.prop('disabled', true);
                asientoSelect.empty();
            }
        });

        $(document).on('change', '.categoria', function () {
            let pasajeroForm = $(this).closest('.pasajero-form');
            let categoria = $(this).val();
            let horario = pasajeroForm.find('.horario').val();
            let asientoSelect = pasajeroForm.find('.asiento');
            if (categoria && horario) {
                cargarAsientos(categoria, horario, asientoSelect);
            } else {
                categoriaSelect.prop('disabled', true);
                categoriaSelect.empty();
                asientoSelect.prop('disabled', true);
                asientoSelect.empty();
            }
        });

        $(document).on('click', '.eliminar-pasajero', function () {
            $(this).closest('.pasajero-form').remove();
            contadorPasajeros--;
        });


        function openCreatePassengerModal(dni_or_passport) {
            $.get('{% url "create_passenger" %}', {
                dni_or_passport: dni_or_passport
            }, function (data) {
                $('#new-passenger-form-container').html(data);
                $('#passenger-modal').modal('show');
            }).fail(function () {
                alert('{% translate "Fallo al cargar el modal. Por favor, intenta de nuevo" %}.');
            });
        }

        $(document).on('blur', '.dni_o_pasaporte', function () {
            var dni_or_passport = $(this).val();
            var inputField = $(this); // Referencia al campo de entrada
            if (dni_or_passport) {
                openCreatePassengerModal(dni_or_passport);
            }
        });

        $('#reservaForm').submit(function (e) {
            e.preventDefault();
            id_user = $('#id-user').val();
            let reserva;
            if (id_user === undefined) {
                reserva = {
                    email: $('#email').val(),
                    pasajeros: []
                };
            } else {
                reserva = {
                    email: $('#email').val(),
                    id_user: id_user,
                    pasajeros: []
                };
            }
            $('.pasajero-form').each(function () {
                let pasajero = {
                    tipoRecorrido: $(this).find('.tipo-recorrido').val(),
                    fecha: $(this).find('.fecha').val(),
                    horario: $(this).find('.horario').val(),
                    asiento: $(this).find('.asiento').val(),
                    dni_o_pasaporte: $(this).find('.dni_o_pasaporte').val()
                };
                reserva.pasajeros.push(pasajero);
            });

            if (reserva.pasajeros.length == 0) {
                alert('{% translate "Por favor, agrega al menos un pasajero" %}');
                return;
            }
            $.ajax({
                url: '{% url "api_reserve_tickets" %}',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(reserva),
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.init_point;
                    } else {
                        console.error('{% translate "Error en la respuesta:" %}', response);
                        alert('{% translate "Hubo un error al procesar su pago" %}');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('{% translate "Error en la petición:" %}', error);
                    alert('{% translate "Hubo un error al procesar su solicitud" %}');
                }
            });
        });

        // Agregar el primer pasajero al cargar la página
        agregarPasajero();
    });
</script>
{% endblock %}