{% include 'public/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<section class="section_ps home_ps form-register font-black">
    <div class="mt-5 row my-4">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 bg-white">
                <h4>{% translate "Restablecer Contraseña" %}</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success" type="submit" value="{% translate 'Confirmar' %}">
                </form>
            </div>
        </div>
    </div>
</section>
{% include 'public/footer.html' %}
{% endblock %}