{% extends 'partials/base.html' %}
{% load i18n %}
{% block title %}{% translate "Perfil de Usuario" %}{% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                {% translate "Detalle de Cliente" %}
            </div>
            <div class="row p-3">
                <div class="col-md-8">
                    <table class="table table-borderless">
                        <thead>
                            <span class="h4">{% translate "Información de Perfil" %}</span class="h4">
                            <a class="btn btn-primary btn-sm float-right" href="{% url 'user-profile-update' %}">
                                {%translate "Editar" %}
                            </a>
                            <hr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{% translate "Nombre" %}</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{% translate "Correo Electrónico" %}</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{% translate "Telefóno" %}</th>
                                <td>{{ user.profile.phone }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{% translate "Dirección" %}</th>
                                <td>{{ user.profile.address }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <img class="img-thumbnail" src="{{ user.profile.image.url }}" alt="profile-image">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}