{% include 'public/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<section class="section_ps home_ps form-register">
    <div class="d-flex justify-content-center mt-5 row mx-auto my-4">
        <!-- <div class="col-md-2"></div> -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    {% translate "Detalle de Cliente" %} </div>
                <div class="row p-3">
                    <div class="col-md-12 font-black">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ u_form|crispy }}
                            {{ p_form|crispy }}
                            <input class="btn btn-primary" type="submit" value="Update">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'public/footer.html' %}
{% endblock %}